name: MoveFmt Format Check

on:
  workflow_call:

jobs:
  movefmt-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Get latest movefmt release version
        id: get_release
        run: |
          LATEST=$(curl -s https://api.github.com/repos/movebit/movefmt/releases/latest | jq -r '.tag_name')
          echo "version=$LATEST" >> $GITHUB_OUTPUT

      - name: Download movefmt binary
        run: |
          curl -L https://github.com/movebit/movefmt/releases/download/${{ steps.get_release.outputs.version }}/movefmt.beta.${{ steps.get_release.outputs.version }}-x86_64-unknown-linux-gnu -o movefmt
          chmod +x movefmt

      - name: Run movefmt diff check
        run: ./movefmt --emit="diff"
